h1 {
  font-size: 6vh;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-style: italic;
  color: red;
  margin-top: 0;
  font-size: 4vh;
  margin-bottom: 1vh;
  text-align: center;
}

p {
  display: flex;
  line-height: 1.5;
  margin: 1vh;
  flex-direction: column;
  max-width: 1200px;
  font-size: 2.3vh;
  color: rgb(0, 166, 255);
  text-shadow: -1px -1px 0 #000, /* Top left */ 1px -1px 0 #000,
    /* Top right */ -1px 1px 0 #000, /* Bottom left */ 1px 1px 0 #000; /* Bottom right */
}

body {
  text-align: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-image: url("./images/forest.jpg");
  background-size: contain;
  background-repeat: no-repeat; /* Usually used with contain */
  background-position: center; /* Often used to center the image */
}

#game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#imageDisplay {
  width: 400px;
  height: auto;
  display: none;
  border: 9vh solid transparent;
  border-image: linear-gradient(to bottom, #f80505ee, #1d04f8) 1;
  margin-bottom: 15px;
}

#quiz-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  width: 500px;
  height: auto;
  margin-bottom: 3vh;
}

.picture {
  width: 120px;
  height: 120px;
  border: 8px solid red;
  cursor: pointer;
}

.picture.selected {
  border-color: blue;
}

#timer {
  display: block;
  font-size: 20px;
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.button {
  background-color: red;
  padding: 1vh 3vw;
  font-size: 4vh;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.button:hover {
  background-color: darkred;
}

.instructions {
  text-align: left;
  max-width: 800px;
  font-size: 2vh;
  margin-top: 1vm;
  margin-bottom: 0;
}
