/* #rotate-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
} */

/* @media (orientation: portrait) {
  #rotate-message {
    display: flex;
} */

h1 {
  font-size: 6vh;
  margin-bottom: 0;
  margin-top: 0;
}


h2 {
  font-style: italic;
  color: red;
  margin-top: 0;
  font-size: 4vh;
  margin-bottom: 1vh;
  text-align: center;
}

p {
  display: flex;
  line-height: 1.5;
  margin: 1vh;
  flex-direction: column;
  max-width: 1200px;
  font-size: 20px;
  color: black ;

}

body {

  font-family: Arial, sans-serif;
  background-image: url("./images/forest.jpg");
  background-size: cover;
}

.instructions-container {
  display: flex;
  text-align: justify;
  overflow: scroll;

}


#game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}


#clickToBegin {
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
  font-size: 3vh;
  text-align: center;
}


#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 100vh;
  width: 100vw; */
  overflow: scroll;
}

#imageDisplay {
  width: 50vh;
  height: 50vh;
  display: none;
  border: 4vh solid transparent;
  border-image: linear-gradient(to bottom, #f80505ee, #1d04f8) 1;
  margin-bottom: 15px;
}

#quiz-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-gap: 18px;
  width: 50vw;
  height: 50vh;
  margin-bottom: 25px;
}

.picture {
  width: 8vw;
  height: auto;
  margin: 5px;
  
  border: 1vh solid red;
  cursor: pointer;
}

.picture.selected {
  border-color: blue;
}

#timer {
  display: block;
  font-size: 20px;
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.button {
  background-color: red;
  padding: 1vh 3vw;
  font-size: 4vh;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.button:hover {
  background-color: darkred;
  transform: scale(1.10);
  transition: transform 0.2s;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

.instructions {
  text-align: justify;
  max-width: 1200px;
  font-size: 3vh;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 15px ridge rgba(255, 255, 255, 0.4);
}
.instruct-a {
  color: white;
  animation:  onoff 1s infinite;
  }

@keyframes onoff {
  0% {
    color: green;
  }
  50% {
    color: red;
  }
  100% {
    color: blue;
  } 
}


.instruct-p {
  text-align: center;
  color: red;
  font-size: 4vh;
  margin-top: 1vh;
  text-decoration: underline;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    text-decoration: none;
  }
  90% {
    text-decoration: underline;
  }
  100% {
    text-decoration: none;
  }
}