#imageDisplay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-width: 30px;
    border-color: rgb(10, 5, 111);
    border-style: solid;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    }

.instructions {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    max-width: 800px;
    }

#quiz-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 400px;
    margin: 20px auto;
}
#quiz-container + div { 
    display: flex;         
    justify-content: center; 
    margin-top: 10px;       
}

.picture {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#results {
    margin-top: 20px;
    text-align: center;
}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:75vh;
}

.game-button {
    background-color: red;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.blue-button {
    background-color: blue;
}

#replay-button {
    background-color: red;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 1in;

 }